<!-- Representative component - it doesn't have business logic -->
<!-- inputs should be bounded with correspondent controls as well -->
<!-- there are some attributes that can be used as validators as in input above minLength='3' will work the same as one from Validators class -->
<input
  [formControl]="control"
  [type]="type"
  class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
  [placeholder]="placeholder"
  [mask]="format"
  [dropSpecialCharacters]="false"
/>

<!-- ng-container and ng-template(must have conditional directive *ngIf) are invisible for document and are used for grouping elements -->
<ng-container *ngIf="control.touched && control.dirty">
  <!-- <p>{{ registerForm.controls.name?.errors }}</p>  the same as with get() function-->
  <p *ngIf="control.errors?.required" class="text-red-400">Field is required</p>
  <p *ngIf="control.errors?.minlength" class="text-red-400">
    The value you inputted is
    {{ control.errors?.minlength.actualLength }} characters long. It must be at
    least
    {{ control.errors?.minlength.requiredLength }}
    characters long
  </p>
  <p *ngIf="control.errors?.email" class="text-red-400">
    You must enter the valid email
  </p>
  <p *ngIf="control.errors?.min" class="text-red-400">
    User age should be not under {{ control.errors?.min?.min }}
  </p>
  <p *ngIf="control.errors?.pattern" class="text-red-400">
    Password must be at least 8 characters long, have 1 capital, 1 lowercase and
    1 special symbol
  </p>
</ng-container>
